@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-muted: var(--secondary-muted);
  --blur-2xs: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #5abb6c;
    --secondary: #0a0a0a;
    --secondary-muted: #161616;
    --background: var(--secondary);
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .container {
    max-width: min(calc(100% - 2.5rem), 80rem);
  }
  .border {
    border-width: 0.5px
  }
}
