@import "tailwindcss";

:root {
  --primary: #5abb6c;
  --secondary: #0a0a0a;
  --background: var(--secondary);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --blur-2xs: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #5abb6c;
    --secondary: #0a0a0a;
    --background: var(--secondary);
    --foreground: #ededed;
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(255 255 255 / 0.5) transparent;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background: var(--background);
    color: var(--foreground);
  }
}

@layer utilities {
  .container {
    max-width: min(calc(100% - 2.5rem), 43.063rem);
  }
  .border {
    border-width: 0.5px;
  }
}
